body {
    color: #40514E;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /* font-family: 'Parisienne', cursive; */
    font-size: 5rem;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

p {
    line-height: 2;

}
a{
    color:#119989 ;
    margin: auto 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;


}
a:hover{
    color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: grey;

}

.bottomcloud {
    position: absolute;
    left: 365px;
    top: 380px;
}

.topcloud {
    position: absolute;
    right: 360px;
    top: 90px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.web-devimg {
    width: 45%;
    float: left;
    margin-right: 30px;
}

.footballimg {
    width: 45%;
    float: right;
    margin-left: 30px;
}


span {
    text-decoration: underline;
}

.topcont {
    padding-top: 100px;
    background-color: #d3f4ff;
    position: relative;
}

.middle-container {
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding:50px 0 20px ;
}

.intro {
    width: 30%;
    margin: auto;
}

.mount {
    padding-top: 25px;
}

.myphoto {
    border-radius: 100%;
}

.contact-text {
    width: 40%;
    margin: auto;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding:20px 0 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #119989);
    background-image: -moz-linear-gradient(top, #11CDD4, #119989);
    background-image: -ms-linear-gradient(top, #11CDD4, #119989);
    background-image: -o-linear-gradient(top, #11CDD4, #119989);
    background-image: linear-gradient(to bottom, #11CDD4, #119989);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 1px 20px 0px #808283;
    -webkit-box-shadow: 1px 1px 20px 0px #808283;
    -moz-box-shadow: 1px 1px 20px 0px #808283;
    text-shadow: 1px 1px 20px #808283;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;

}

.footer-link {

    color: #11999E;
}